.destaque {
  background: $primary;
  color: white;
  padding: 150px 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);

  &__titulo {
    h2 {
      font-size: 3.75rem;
      font-weight: 800;
      text-align: center;

      &:after {
        background: $secondary;
        content: " ";
        display: block;
        height: 5px;
        margin: 1.5rem auto;
        width: 20%;
      }
    }
  }

  .pecas {
    margin: 4rem 0;

    &__box {
      background: white;
      color: $default;
      margin: 0 2rem;

      img{
        height: auto;
        max-width: 100%;
      }

      h3 {
        color: $primary;
        font-size: 1.1rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      p {
        color: $default;
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }

    &__name {
      border-left: 10px solid $secondary;
      margin: 0 0 20px 0;
      max-height: 100%;
      padding: 5px 0 5px 10px;
    }
  }

  &__conversao {
    font-size: 2rem;
    text-align: center;

    p {
      margin: 2rem;
    }

    strong {
      font-weight: 800;
    }

    .btn {
      background: white;
      border: 0;
      color: $primary;
      display: inline-flex;
      padding: 0;

      &__label {
        padding: 1rem 1.5rem;
      }

      &__icon {
        background: $secondary;
        display: block;
        height: 100%;
        padding: 1rem;
        min-width: 50px;

        .icon {
          fill: white;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }

  &__subtitulo {
    margin: 100px 0;

    h2 {
      font-size: 3.75rem;
      font-weight: 800;
      line-height: 1;
      text-align: center;

      &:after {
        background: $secondary;
        content: " ";
        display: block;
        height: 5px;
        margin: 1.5rem auto;
        width: 20%;
      }
    }
  }

  &__box {
    align-items: center;
    background: white;
    box-sizing: content-box;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    min-height: 150px;
    max-width: 150px;
    transition: all ease-in-out 0.25s;
    text-align: center;

    img {
      margin: 1rem 0;
      max-height: 75px;
      max-width: 75px;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
      transform: scale(1.15, 1.15);
    }

    p {
      color: $secondary;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
